<div
  id="app-data-store"
  data-product-id="{{ product.id | default: '' }}"
  data-collection-id="{{ collection.id | default: '' }}"

  data-customer-id="{{ customer.id | default: '' }}"

  data-shop-id="{{ shop.id | json }}"
  data-shop-name="{{ shop.name }}"
  data-shop-domain="{{ shop.domain }}"
  data-shop-url="{{ shop.url }}"
></div>

<div id="react-root"></div>

<script src="{{ 'widget.react.bundle.js' | asset_url }}" defer></script>
<link href="{{ 'widget.tailwindcss.bundle.css' | asset_url }}" rel="stylesheet">

{% schema %}
{
  "name": "Redeemer Widget",
  "target": "body",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
